<ion-view title="体育资讯">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <!-- <button class="button button-icon icon ion-search"></button> -->
  </ion-nav-buttons>
  
  <ion-content class="has-header gem-ion-content">
    <div class="list">
        <a class="item item-thumbnail-left" ng-repeat="item in sportNews" ng-click="goToDetail(item)">
          <img style="    height: 80px;" ng-src="{{item.image_url}}">
          <!-- <img style="    height: 80px;" ng-src="{{}}img/gemionic/news-image.jpg"> -->
          <h2>{{item.title}}</h2>
          <p >{{item.abstract}}</p>
          <p >{{item.behot_time*1000 |date:'yyyy-MM-dd HH:mm:ss'}}</p>
        </a>  
    </div>
    <ion-refresher refreshing-icon="ion-loading-c" refreshing-text="云端获取数据中..." pulling-text="下拉刷新数据..." on-refresh="doRefresh()"></ion-refresher>
  </ion-content>
</ion-view>
