<ion-view title="Login-Fullscreen" hide-nav-bar="true">
  <ion-content class="gem-splash_background">
    <div class="gem-form text-center">
      <div class="gem-splash-logo">
        <img src="img/gemionic/gem-logo.png" alt="Logo">
        <h3 class="gem-white">欢迎进入</h3>
        <h3 class="gem-white">在职中小学体育教师在线学习APP</h3>
      </div>
      <button menu-toggle="left" class="button button-borderless button-rounded button-balanced">选择课程</button>
      <a href="#/app/profile" target="_self" class="button button-outline button-rounded gem-white">进入主页</a>
    </div>    
  </ion-content>
</ion-view>