<ion-view title="详情" hide-nav-bar="false">
 <ion-nav-buttons side="left">
    <button  class="button button-icon "></button>
  </ion-nav-buttons>
  <ion-content class="gem-ion-content single-post">
    <div class="gem-post-content">
    <img ng-src="{{detail.image_url||detail}}" alt="" class="fluid-image" style="vertical-align:top;">
      <h2>{{detail.title}}</h2>
      <p>{{detail.abstract}}</p>
      <p class="post-date" ng-if="detail.behot_time"><i class="ion-ios7-clock"></i>{{detail.behot_time*1000 |date:'yyyy-MM-dd HH:mm:ss'}}</p>
    </div>
  </ion-content>
</ion-view>

